# **Introduction**
### **Author :** Walid Atef Abd El Maqsoud Nossier
### **Topic :** Data Science & Business Analytics
### **Task :** Task 1 - Predection Using Supervised ML
To Predict the percentage of marks of the students based on the number of hours they studied

# **Step 1**
### **Importing the required libraries**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# **Step 2**
### **Reading data from remote link**

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv')
data.head(10)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25

# **Step 3**
### **Plotting the distribution of scores**